<div class="container">
  <div class="alert alert-primary" role="alert">
    Bootstrapが正常に読み込まれています！
  </div>
</div>
<div id="homepage"></div>
<%= javascript_include_tag "homepage", "data-turbo-track": "reload", type: "module" %>